.repo-list {
  width: calc(100% - 25% - 100px);
  height: calc(100vh - 90px - 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 50px 0 50px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}