.user-list {
  height: calc(100vh - 90px - 50px);
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}